/* Calendar */
.calendar {
  background-color: white;
  border-radius: 8px;
  margin: 24px;
  box-shadow: 0px 0px 8px rgb(100 100 100 / 50%);
  width: 400px;
  height: 400px;
}

/* Month title */
.month-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 16px 32px 0 32px;
}

.month-title h2 {
  font-size: 24px;
  flex-grow: 1;
  margin: 0;
  text-align: center;
}

/* Calendar container s*/
.month-container {
  display: flex;
  justify-content: center;
}

.month{
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(7,50px);
  grid-template-rows: repeat(6, 50px);
  text-align: center;
  color: #878787
}

/* Calendar default */
.grid-header {
  color: #878787;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

/* Calendar special classes */
.blue {
  background-color: #5742FA;
  color: white;
}

.green {
  background-color: #5EE3B7;
  color: white;
}

.alone {
  margin: 5px;
  border-radius: 50%;
}

.first {
  color: white;
  margin: 5px 0px 5px 5px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.middle {
  color: white;
  margin: 5px 0px;
}

.last {
  color: white;
  margin: 5px 5px 5px 0px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.other-month {
  opacity: .7;
}
